:root {
    --bg-pink: linear-gradient(
        90deg,
        rgb(206, 150, 251) 30%,
        rgb(255, 143, 207) 70%
    );

    --bg-green: linear-gradient(
        90deg,
        rgb(227, 26, 197) 0%,
        rgb(0, 194, 186) 100%
    );

    --bg-yellow: linear-gradient(
        45deg,
        rgb(179, 255, 64) 20%,
        rgb(246, 172, 11) 80%
    );

    --bg-white: rgb(255, 255, 255);
    --bg-modal: #0e110eaf;
    --text-light: #ffffff;
    --text-gold: rgb(255, 217, 0);
    --dark: #05a9e4;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    background: var(--bg-pink);
}

h1 {
    margin: 0;
    font-size: 1rem;
}

h1:hover, h2:hover {
    cursor: default;
}

/* INFO */

#info {
    text-align: center;
    width: 20rem;
    color: var(--text-gold);
}

#info__title {
    font-size: 5rem;
}

.info__player {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 3px solid var(--text-gold);
    color: var(--dark);
    background: var(--bg-white);
}

.info__player__icon {
    height: 1.3rem;
    padding-top: 0.13rem;
}

.cross {
    background-image: url(images/cross.png);
}

.circle {
    background-image: url(images/circle.png);
}

.cross, .circle {
    background-size: cover;
}

/* GRID */

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 25rem;
    width: 25rem;
    grid-gap: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    background: var(--bg-green);
}

.grid__square {
    background-color: var(--bg-white);
    border-radius: 0.3rem;
}

.grid__square:hover {
    cursor: pointer;
}

/* INSTRUCTIONS */

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}

#instructions__text {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-gold);
}

#instructions__btn {
    cursor: pointer;
    width: 12rem;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    background: var(--dark);
    border: none;
    color: var(--text-light);
}

#instructions__btn:active {
    transform: translateY(0.125rem);
}

/* MODAL */

#modal {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--bg-modal);
}

#modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 40%;
    border-radius: 5rem;
    color: var(--text-light);
    background: var(--bg-yellow);
    border: var(--bg-yellow) solid 0.1rem;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: none;
}

input {
    margin: 1.25rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.625rem 1.25rem;
    border: 2px solid var(--dark);
    color: var(--text-light);
    background-color: var(--dark);
}

::placeholder {
    font-style: italic;
    color: var(--text-light);
}

input[type="submit"]:active {
    transform: translateY(0.125rem);
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
    #grid {
        width: 18.75rem;
        height: 18.75rem;
    }
    #info__title {
        margin: 0 0 1rem;
    }
    body {
        align-content: center;
    }
    #modal__content {
        text-align: center;
        height: 60%;
        width: 80%;
    }
    input {
        width: 10rem;
    }
}